doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    base(href="/")
    link(rel="stylesheet", href=`${banxPrefix}/stylesheets/style.css`)
    link(rel="stylesheet", href=`${banxPrefix}/bootstrap/css/bootstrap.min.css`)
  body
    block content
    script(src=`${banxPrefix}/jquery/jquery.slim.min.js`)
    //script(src=`${banxPrefix}/popper.js/popper.js`) // SyntaxError when this is used in the browser.
    script(src=`${banxPrefix}/bootstrap/js/bootstrap.min.js`)
    block scripts
